[user]
name = Hector Castelli Zacharias
email = hector.zacharias@gmail.com
signingkey = ~/.ssh/github_signing.pub
[core]
# Use vscode as the git editor
editor = code --wait
excludesfile = ~/.gitignore
pager = bat
[fetch]
# Prune local references to remote branches that no longer exists, after fetching
prune = true
[pull]
# Rebase instead of merge when pulling
rebase = true
[merge]
conflictStyle = zdiff3
[diff]
algorithm = histogram
submodule = log
context = 8
[alias]
# git empty "this is an empty commit"
empty = "git commit --allow-empty"
[init]
defaultBranch = main
[status]
# Shows stash count when running git status
showStash = true
# Show submodule summary when running git status
submoduleSummary = true
[submodule]
recurse = true
[gpg]
format = ssh
[push]
autoSetupRemote = true
# Setup url aliases for remotes
[url "https://github.com/"]
insteadOf = gh:
[url "https://gitlab.com/"]
insteadOf = gl:
# Per-directory configuration
[includeIf "gitdir:~/axa/"]
path = ~/axa/.gitconfig
[credential "https://github.com"]
	helper = 
	helper = !/home/hector/.nix-profile/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/hector/.nix-profile/bin/gh auth git-credential
