[user]
name = Hector Castelli Zacharias
email = hector.zacharias@gmail.com
signingkey = ~/.ssh/github_signing.pub
[core]
# Use vscode as the git editor
editor = code --wait
excludesfile = ~/.gitignore
[fetch]
# Prune local references to remote branches that no longer exists, after fetching
prune = true
[alias]
# git empty "this is an empty commit"
empty = "git commit --allow-empty"
[init]
defaultBranch = main
[status]
# Shows stash count when running git status
showStash = true
[gpg]
format = ssh
[push]
autoSetupRemote = true
# Setup url aliases for remotes
[url "https://github.com/"]
insteadOf = gh:
[url "https://gitlab.com/"]
insteadOf = gl:
[includeIf "gitdir:~/axa/"]
path = ~/axa/.gitconfig
